.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    min-width: 602px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: 1px #cccccc solid;
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
    display: flex;
}

.circle1,
.circle2 {
    background: white;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    position: absolute;
}

.circle1 {
    top: 5%;
    right: 15%;
    background: linear-gradient(to right bottom, rgba(248, 127, 28, 0.9), rgba(248, 138, 35, 0.6));
}

.circle2 {
    bottom: 5%;
    left: 10%;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
}

main {
    min-height: 100vh;
    min-width: 602px;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-right: 1px #cccccc solid;
    border-radius: 2rem 0.5rem 0.5rem 2rem;
    padding: 1rem;
}

.user {
}

.links {
}

.link {
    display: flex;
    margin: 2rem 0;
    padding: 1rem;
    align-items: center;
}

.link h2 {
    padding: 0 2rem;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
}

.games {
    flex: 2;
    padding: 1rem;
}

.cards {
}

.card {
}

.card-info {
}

.progress {
}

.percentage {
}

h1 {
    font-size: 4rem;
    color: rgba(248, 138, 35, 1);
}